
<!Doctype html>
{% extends 'base.html' %}
{% block title_content %}
<style>
    body{
        background-color: pink;
    }
</style>
    {% endblock %}
    <body>
        {% block content %}
        <div class="container">
            <h1 style="font-family:Serif;font-weight:bold;text-align:center;padding:50px;font-size:75px;">Welcome {{myname}}</h1>
            <div class="row">
                {% for i in product_list %}
                <div class="col-12" style="font-family:Serif;text-align:center;font-size:25px;">
                    {{i.title}}<br>
                    <img src="{{i.image.url}}" width="200px"><br>
                    <p >Price:<strike>Rs.{{i.marked_price}}</strike>Rs. {{i.selling_price}}</p>
                    <a href="{% url 'addtocart' i.id %}" class="btn btn-primary">Add To Cart</a>
                    <a href="/delete/{{i.id}}" class="btn btn-danger btn-sm" >Delete</a>
                    
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
{% endblock %}